$background-primary: #363438;
$background-secondary: #272629;
$background-secondary-alt: #222124;
$background-tertiary: #18171a;
$background-priority: #344556;

.appbar {
	box-sizing: border-box;
	height: 64px;
	padding: 16px;
	background-color: $background-tertiary;
	display: flex;
	flex-direction: row;
	align-items: center;
	
	.spacer {
		flex: 1 0 auto;
	}
	
	.title {
		color: #ffffff;
		font-size: 28px;
		font-weight: 700;
		
		.title-alt {
			margin-left: 8px;
			color: rgba(255, 255, 255, .5);
			font-weight: 400;
		}
	}
}