.hero-box {
    border-radius: 6px;
    padding: 50px 20px;
    background-color: #40c9dd;
}

.hero-box-secondary {
    border-radius: 6px;
    padding: 20px;
    margin: 0 16px;
    background-color: rgba(0, 0, 0, .2);
}

.muted-a {
    cursor: pointer;
    color: #ffffff;
    opacity: .6;
    transition: opacity 150ms;
}

p.muted-a {
    cursor: help;
}

.muted-a:hover {
    opacity: .8;
}

.tooltip {
    background-color: #40c9dd !important; 
    opacity: 1 !important;
    max-width: 90%;
}