body {
    padding: 0;
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
        Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
    background-color: #222124;
    color: #ffffff;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin-top: 0;
    margin-bottom: 10px;
}

p {
    font-size: 16px;
}

* {
    box-sizing: border-box;
}

h2 {
    margin-top: 20px;
}

h3 {
    margin-top: 20px;
}

code {
    display: block;
    margin: 4px 0;
    border: solid 1px rgba(0, 0, 0, 0.1);
    border-radius: 4px;
    background-color: rgba(0, 0, 0, 0.2);
    padding: 8px;
}

pre {
    display: inline;
    border-radius: 4px;
    background-color: rgba(0, 0, 0, 0.2);
    padding: 3px;
}

blockquote {
    font-size: 16px;
    position: relative;
    margin-left: 0;
    padding: 4px 0;
    padding-left: 18px;
}

blockquote p {
    margin: 0;
}

blockquote::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 10px;
    width: 6px;
    height: 100%;
    background-color: rgba(255, 255, 255, .1);
}

#table-of-contents + ul li {
    opacity: 0.6;
    transition: opacity 120ms;
}

#table-of-contents + ul li a {
    opacity: 1 !important;
    color: #ffffff !important;
    border-bottom: none !important;
    text-decoration: none;
}

#table-of-contents + ul li:hover {
    opacity: 1;
}

img.emoji {
    width: 1.375em;
    height: 1.375em;
}

a:not(.prevDefault) {
    color: #3db588;
    opacity: .7;
    text-decoration: none;
    border-bottom: dotted 1px #93d6bd;
    transition: opacity 150ms;
}

a:not(.prevDefault):hover {
    opacity: 1;
    border-bottom: solid 1px #3db588;
}

th, td {
    padding: 10px;
    border: solid 1px rgba(255, 255, 255, .1);
}

thead {
    background-color: rgba(255, 255, 255, .1);
}

table {
    border-collapse: collapse;
}

img {
    max-width: 100%;
    box-shadow: 0 2px 4px -1px rgba(0, 0, 0, 0.2), 0 4px 5px 0 rgba(0, 0, 0, 0.14),
        0 1px 10px 0 rgba(0, 0, 0, 0.12);
    border-radius: 4px;
    margin: 10px 0;
}