.back-link {
	cursor: pointer;
	user-select: none;
	padding: 10px 14px;
	border: solid 1px #ffffff !important;
	border-radius: 4px;
	opacity: 0.6;
	color: #ffffff;
	text-decoration: none;
	transition: opacity 150ms;
	
	&:hover {
		opacity: 1;
	}

	&.text {
		border: 0 !important;
	}
}